<div class=tabProduct>
    <div class=row>
        <div class="homepage-row-product-title text-center">
            <h1>
                <a href="/" title=">Cửa hàng Dịch Vụ Thú Cưng KVH</a>

            </h1>

        </div>
        <div class="homepage-row-product-title-1 text-center">

            <h2>
                <a href="/dich-vu-cham-soc-thu-cung" title="Các gói dịch vụ chăm sóc thú cưng">Xem thêm gói dịch vụ chăm sóc thú cưng</a>
                <hr class="underline-title">
            </h2>
        </div>
    </div>
    <div>
        <div class="hidden-xs">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/dich-vu-trong-giu-cho-meo-tphcm" class="hover14" title="Dịch vụ trông giữ chó mèo">
                        <figure class="img-wrap square">
                            <img src="https://zoipet.com/wp-content/uploads/2023/07/bang-gia-khach-san-cho-meo-thu-cung-pet-hotel.jpg" alt="Dịch vụ trông giữ chó mèo">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Dịch vụ trông giữ chó mèo</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/cham-soc-thu-cung" class="hover14" title="Chăm sóc thú cưng">
                        <figure class="img-wrap square">
                            <img src="https://static.chotot.com/storage/chotot-kinhnghiem/c2c/2019/11/nghe-cham-soc-thu-cung-1.jpg" alt="Chăm sóc thú cưng">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Chăm sóc thú cưng</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/cuu-ho-thu-cung" class="hover14" title="Cứu hộ thú cung">
                        <figure class="img-wrap square">
                            <img src="https://www.petmom.vn/uploads/contents/1590765042_53238e0e3389cd205b8b.jpg" alt="Cứu hộ thú cung">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Cứu hộ thú cung</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/khach-san-cho-meo" class="hover14" title="Khách sạn chó mèo">
                        <figure class="img-wrap square">
                            <img src="https://kinpetshop.com/wp-content/uploads/khach-san-cho-meo-tphcm.jpg" alt="Khách sạn chó mèo">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Khách sạn chó mèo</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/spa-cho-thu-cung-la-gi" class="hover14" title="Spa cho thú cưng là gì?">
                        <figure class="img-wrap square">
                            <img src="https://dogstar.vn/wp-content/uploads/2022/08/nhan-vien-cham-soc-khach-san-thu-cung-la-gi-can-luu-y-gi-1.png" alt="Spa cho thú cưng là gì?">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Spa cho thú cưng là gì?</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/dich-vu-tam-cho-cho-meo" class="hover14" title="Dịch vụ tắm cho chó mèo">
                        <figure class="img-wrap square">
                            <img src="https://mcdn.coolmate.me/uploads/November2021/spa-thu-cung-la-gi-20.jpg" alt="Dịch vụ tắm cho chó mèo">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Dịch vụ tắm cho chó mèo</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/cat-tia-long-cho-cho-meo" class="hover14" title="Dịch vụ cắt tỉa lông chó mèo">
                        <figure class="img-wrap square">
                            <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2020/1/19/779656/46523460_21313917568.jpg" alt="Dịch vụ cắt tỉa lông chó mèo">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Dịch vụ cắt tỉa lông chó mèo</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="https://www.petmom.vn/thoi-trang-thu-cung" class="hover14" title="Thời trang thú cưng">
                        <figure class="img-wrap square">
                            <img src="https://image.phunuonline.com.vn/fckeditor/upload/2020/20200305/images/thoi-trang-may-mac-cho-cho-phat-_1583419103.jpg" alt="Thời trang thú cưng">
                        </figure>
                        <div class="caption">
                            <div class="caption-text">
                                <h3>Thời trang thú cưng</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="visible-xs">

            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/dich-vu-trong-giu-cho-meo-tphcm" class="thumbnail product-box"
                       title="Dịch vụ trông giữ chó mèo">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/trong-giu-cho-meo_1612248539.jpg" alt="Dịch vụ trông giữ chó mèo">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Dịch vụ trông giữ chó mèo</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/cham-soc-thu-cung" class="thumbnail product-box"
                       title="Chăm sóc thú cưng">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/cham-soc-thu-cung_1612248557.jpg" alt="Chăm sóc thú cưng">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Chăm sóc thú cưng</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/cuu-ho-thu-cung" class="thumbnail product-box"
                       title="Cứu hộ thú cung">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/cuu-ho-thu-cung_1612248570.jpg" alt="Cứu hộ thú cung">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Cứu hộ thú cung</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/khach-san-cho-meo" class="thumbnail product-box"
                       title="Khách sạn chó mèo">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/khach-san-cho-meo_1612242262.jpg" alt="Khách sạn chó mèo">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Khách sạn chó mèo</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/spa-cho-thu-cung-la-gi" class="thumbnail product-box"
                       title="Spa cho thú cưng là gì?">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/dich-vu-spa-cho-cho-meo_1612248623.jpg" alt="Spa cho thú cưng là gì?">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Spa cho thú cưng là gì?</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/dich-vu-tam-cho-cho-meo" class="thumbnail product-box"
                       title="Dịch vụ tắm cho chó mèo">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/tam-cho-cho-meo_1612248603.jpg" alt="Dịch vụ tắm cho chó mèo">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Dịch vụ tắm cho chó mèo</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/cat-tia-long-cho-cho-meo" class="thumbnail product-box"
                       title="Dịch vụ cắt tỉa lông chó mèo">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/cat-tia-long-cho-meo_1612248645.jpg" alt="Dịch vụ cắt tỉa lông chó mèo">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Dịch vụ cắt tỉa lông chó mèo</span></div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://www.petmom.vn/thoi-trang-thu-cung" class="thumbnail product-box"
                       title="Thời trang thú cưng">
                        <span class="img-wrap">
                            <img src="https://www.petmom.vn/uploads/category/thoi-trang-thu-cung_1612249248.jpg" alt="Thời trang thú cưng">
                        </span>
                        <div class="caption" style="text-align: center; height: 70px"><span style="line-height: 35px">Thời trang thú cưng</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
