<div class="container_menu">

    <div class="navone">

        <p class="lbl">DANH MỤC SẢN PHẨM <i class="fa fa-caret-down text-18"></i></p>

        <ul class="ul primary">
            <li class="not-pro"><a href="/"><span class="span-root">Trang chủ</span></a></li>
            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Shop thú cưng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="" class="cat1" title="Thời trang thú cưng">
                            Thời trang thú cưng
                        </a>
                        <a href="#" class="cat2" title="Quần áo thu đông chó 2020">
                            Quần áo thu đông chó 2020
                        </a>
                        <a href="#" class="cat2" title="Quần áo thu đông mèo 2020">
                            Quần áo thu đông mèo 2020
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Shop cho chó">
                            Shop cho chó
                        </a>
                        <a href="#" class="cat2" title="Thức ăn khô dạng hạt">
                            Thức ăn khô dạng hạt
                        </a>
                        <a href="#" class="cat2" title="Thức ăn tươi cho chó">
                            Thức ăn tươi cho chó
                        </a>
                        <a href="#" class="cat2" title="Pate đóng hộp">
                            Pate đóng hộp
                        </a>
                        <a href="#" class="cat2" title="Bánh thưởng cho chó">
                            Bánh thưởng cho chó
                        </a>
                        <a href="#" class="cat2" title="Xương và  bánh gặm">
                            Xương và  bánh gặm
                        </a>
                        <a href="#" class="cat2" title="Sữa và  Bình sữa cho chó con">
                            Sữa và  Bình sữa cho chó con
                        </a>
                        <a href="#" class="cat2" title="Sữa tắm cho chó">
                            Sữa tắm cho chó
                        </a>
                        <a href="#" class="cat2" title="Chăm sóc tai - miệng - mắt">
                            Chăm sóc tai - miệng - mắt
                        </a>
                        <a href="#" class="cat2" title="Xịt khử mùi và Dầu thơm">
                            Xịt khử mùi và Dầu thơm
                        </a>
                        <a href="#" class="cat2" title="Quần áo và phụ kiện">
                            Quần áo và phụ kiện
                        </a>
                        <a href="#" class="cat2" title="Hạt mềm cho chó">
                            Hạt mềm cho chó
                        </a>
                        <a href="#" class="cat2" title="Vòng  cổ -Dây dắt - Rọ mõm">
                            Vòng  cổ -Dây dắt - Rọ mõm
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Shop cho mèo">
                            Shop cho mèo
                        </a>
                        <a href="#" class="cat2" title="Thức ăn khô dạng hạt">
                            Thức ăn khô dạng hạt
                        </a>
                        <a href="#" class="cat2" title="Thức ăn tươi cho mèo">
                            Thức ăn tươi cho mèo
                        </a>
                        <a href="#" class="cat2" title="Pate đóng hộp">
                            Pate đóng hộp
                        </a>
                        <a href="#" class="cat2" title="Bánh thưởng cho mèo">
                            Bánh thưởng cho mèo
                        </a>
                        <a href="#" class="cat2" title="Xương và bánh gặm">
                            Xương và bánh gặm
                        </a>
                        <a href="#" class="cat2" title="Sữa và Bình sữa mèo con">
                            Sữa và Bình sữa mèo con
                        </a>
                        <a href="#" class="cat2" title="Sữa tắm cho mèo">
                            Sữa tắm cho mèo
                        </a>
                        <a href="#" class="cat2" title="Chăm sóc tai - miệng - mắt">
                            Chăm sóc tai - miệng - mắt
                        </a>
                        <a href="#" class="cat2" title="Xịt khử mùi và dầu thơm">
                            Xịt khử mùi và dầu thơm
                        </a>
                        <a href="#" class="cat2" title="Quần áo và Phụ kiện mèo">
                            Quần áo và Phụ kiện mèo
                        </a>
                        <a href="#" class="cat2" title="Hạt mềm cho mèo">
                            Hạt mềm cho mèo
                        </a>
                        <a href="#" class="cat2" title="Vòng cổ và dây dắt">
                            Vòng cổ và dây dắt
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Vật dụng và Đồ chơi">
                            Vật dụng và Đồ chơi
                        </a>
                        <a href="#" class="cat2" title="Tả và Dụng cụ vệ sinh">
                            Tả và Dụng cụ vệ sinh
                        </a>
                        <a href="#" class="cat2" title="Dụng cụ huấn luyện">
                            Dụng cụ huấn luyện
                        </a>
                        <a href="#" class="cat2" title="Đồ chơi cho chó và mèo">
                            Đồ chơi cho chó và mèo
                        </a>
                        <a href="#" class="cat2" title="Nhà - Đệm - Giường">
                            Nhà - Đệm - Giường
                        </a>
                        <a href="#" class="cat2" title="Túi vận chuyển - Balo">
                            Túi vận chuyển - Balo
                        </a>
                        <a href="#" class="cat2" title="Bát ăn và Bình nước">
                            Bát ăn và Bình nước
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Sản phẩm  chức năng">
                            Sản phẩm  chức năng
                        </a>
                        <a href="#" class="cat2" title="Hỗ trợ da và lông">
                            Hỗ trợ da và lông
                        </a>
                        <a href="#" class="cat2" title="Hỗ trợ xương và khớp">
                            Hỗ trợ xương và khớp
                        </a>
                        <a href="#" class="cat2" title="Hỗ trợ cơ bắp">
                            Hỗ trợ cơ bắp
                        </a>
                        <a href="#" class="cat2" title="Men và Hỗ trợ tiêu hóa">
                            Men và Hỗ trợ tiêu hóa
                        </a>
                        <a href="#" class="cat2" title="Hỗ trợ mắt">
                            Hỗ trợ mắt
                        </a>
                        <a href="#" class="cat2" title="Vitamin tổng hợp">
                            Vitamin tổng hợp
                        </a>

                    </div>
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Sản phẩm Y tế">
                            Sản phẩm Y tế
                        </a>
                        <a href="#" class="cat2" title="Sản phẩm xổ giun">
                            Sản phẩm xổ giun
                        </a>
                        <a href="#" class="cat2" title="Sản phẩm trị ve rận">
                            Sản phẩm trị ve rận
                        </a>
                        <a href="#" class="cat2" title="Sản phẩm trị viêm da">
                            Sản phẩm trị viêm da
                        </a>

                    </div>
                </div>
            </li>

            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Thức ăn cho chó </span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Theo giống chó">
                            Theo giống chó
                        </a>
                        <a href="#" class="cat2" title="Chó chihuahua">
                            Chó chihuahua
                        </a>
                        <a href="#" class="cat2" title="Chó Nhật">
                            Chó Nhật
                        </a>
                        <a href="#" class="cat2" title="Chó lạp xưởng">
                            Chó lạp xưởng
                        </a>
                        <a href="#" class="cat2" title="Chó Phú Quốc">
                            Chó Phú Quốc
                        </a>
                        <a href="#" class="cat2" title="Chó Pug">
                            Chó Pug
                        </a>
                        <a href="#" class="cat2" title="Chó Samoyed">
                            Chó Samoyed
                        </a>
                        <a href="#" class="cat2" title="Chó phốc sóc">
                            Chó phốc sóc
                        </a>
                        <a href="#" class="cat2" title="Chó Pitbull">
                            Chó Pitbull
                        </a>
                        <a href="#" class="cat2" title="Chó Shiba">
                            Chó Shiba
                        </a>
                        <a href="#" class="cat2" title="Chó Golden">
                            Chó Golden
                        </a>
                        <a href="#" class="cat2" title="Chó Corgi">
                            Chó Corgi
                        </a>
                        <a href="#" class="cat2" title="Chó Bắc Kinh">
                            Chó Bắc Kinh
                        </a>
                        <a href="#" class="cat2" title="Chó poodle">
                            Chó poodle
                        </a>
                        <a href="#" class="cat2" title="Chó alaska">
                            Chó alaska
                        </a>
                        <a href="#" class="cat2" title="Chó becgie">
                            Chó becgie
                        </a>
                        <a href="#" class="cat2" title="Chó husky">
                            Chó husky
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Theo tuổi chó">
                            Theo tuổi chó
                        </a>
                        <a href="#" class="cat2" title="Thức ăn chó 2 tháng tuổi">
                            Thức ăn chó 2 tháng tuổi
                        </a>
                        <a href="#" class="cat2" title="Thức ăn chó 1 tháng tuổi">
                            Thức ăn chó 1 tháng tuổi
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Theo thương hiệu">
                            Theo thương hiệu
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho chó smartheart">
                            Thức ăn cho chó smartheart
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho chó pedigree">
                            Thức ăn cho chó pedigree
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho chó royal canin">
                            Thức ăn cho chó royal canin
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho chó ganador">
                            Thức ăn cho chó ganador
                        </a>

                    </div>
                </div>
            </li>
            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Thức ăn cho mèo</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Theo giống mèo">
                            Theo giống mèo
                        </a>
                        <a href="#" class="cat2" title="Mèo lông ngắn Anh">
                            Mèo lông ngắn Anh
                        </a>
                        <a href="#" class="cat2" title="Mèo Munchkin chân ngắn">
                            Mèo Munchkin chân ngắn
                        </a>
                        <a href="#" class="cat2" title="Mèo mướp">
                            Mèo mướp
                        </a>
                        <a href="#" class="cat2" title="Mèo vàng">
                            Mèo vàng
                        </a>
                        <a href="#" class="cat2" title="Mèo Xiêm">
                            Mèo Xiêm
                        </a>
                        <a href="#" class="cat2" title="Mèo Ba Tư">
                            Mèo Ba Tư
                        </a>
                        <a href="#" class="cat2" title="Mèo Turkish Angora">
                            Mèo Turkish Angora
                        </a>
                        <a href="#" class="cat2" title="Mèo Nga mắt xanh">
                            Mèo Nga mắt xanh
                        </a>
                        <a href="#" class="cat2" title="Mèo Ragdoll">
                            Mèo Ragdoll
                        </a>
                        <a href="#" class="cat2" title="Mèo Bengal">
                            Mèo Bengal
                        </a>
                        <a href="#" class="cat2" title="Mèo Sphynx không lông">
                            Mèo Sphynx không lông
                        </a>
                        <a href="#" class="cat2" title="Mèo tai cụp Scottish Fold">
                            Mèo tai cụp Scottish Fold
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Theo tuổi mèo">
                            Theo tuổi mèo
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho mèo con">
                            Thức ăn cho mèo con
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Thức ăn mèo theo thương hiệu">
                            Thức ăn mèo theo thương hiệu
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho mèo whiskas">
                            Thức ăn cho mèo whiskas
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho mèo minino">
                            Thức ăn cho mèo minino
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho mèo me-o">
                            Thức ăn cho mèo me-o
                        </a>
                        <a href="#" class="cat2" title=" Thức ăn cho mèo blisk">
                            Thức ăn cho mèo blisk
                        </a>
                        <a href="#" class="cat2" title="Thức ăn cho mèo kitcat">
                            Thức ăn cho mèo kitcat
                        </a>

                    </div>
                </div>
            </li>
            <li class="is-pro">
                <a href="@Url.Action("DichVu","DVTC")">
                    <span class="span-root">Dịch vụ thú cưng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Chăm sóc thú cưng">
                            Chăm sóc thú cưng
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Khách sạn chó mèo">
                            Khách sạn chó mèo
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Dịch vụ tắm cho chó mèo">
                            Dịch vụ tắm cho chó mèo
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Dịch vụ trông giữ chó mèo">
                            Dịch vụ trông giữ chó mèo
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Spa cho thú cưng là gì?">
                            Spa cho thú cưng là gì?
                        </a>

                    </div>
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Dịch vụ cắt tỉa lông chó mèo">
                            Dịch vụ cắt tỉa lông chó mèo
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Cứu hộ thú cung">
                            Cứu hộ thú cung
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Thời trang thú cưng">
                            Thời trang thú cưng
                        </a>

                    </div>
                </div>
            </li>
            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Thư viện thú cưng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Hình ảnh chó đẹp">
                            Hình ảnh chó đẹp
                        </a>
                        <a href="#" class="cat2" title="Những chú chó nhỏ nhất thế giới">
                            Những chú chó nhỏ nhất thế giới
                        </a>
                        <a href="#" class="cat2" title="Chó shiba cười ">
                            Chó shiba cười
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Hình ảnh mèo đẹp">
                            Hình ảnh mèo đẹp
                        </a>

                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Video thú cưng">
                            Video thú cưng
                        </a>
                        <a href="#" class="cat2" title="Hướng dẫn cách may đồ cho chó">
                            Hướng dẫn cách may đồ cho chó
                        </a>

                    </div>
                </div>
            </li>
            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Người Dùng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="@Url.Action("DangNhap","User")" class="cat1" title="Đăng hập ">
                            Đăng Nhập
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="@Url.Action("DangKy","User")" class="cat1" title="Đăng Ký">
                            Đăng Ký
                        </a>

                    </div>
                </div>
            </li>
        </ul>

    </div><!--//-->


    <div class="clear"></div>
</div>
