<div class="swiper-container swiper-main-container">
    <div class=swiper-wrapper>
        <a class="swiper-slide" href="#" title="Dịch vụ cắt tỉa lông chó mèo" target="_blank">
            <img src="~/Images/Slider/petspa.jpg" alt="Dịch vụ cắt tỉa lông chó mèo" style="width: 100%;">
        </a>
        <a class="swiper-slide" href="#" title="Shop thú cưng" target="_blank">                <img src="~/Images/Slider/petshop.jpg" alt="Shop thú cưng" style="width: 100%;">                </a>
        <a class="swiper-slide" href="#" title="Khách sạn cho chó" target="_blank">                <img src="~/Images/Slider/pethotel.jpg" alt="Khách sạn cho chó" style="width: 100%;">                </a>
    </div>
    <div class=swiper-pagination></div>
</div>
